@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

:root {
  --font-size: 15px;
  --font-weight: 1;
  --body--bg: hsl(212, 45%, 89%);
  --wrapper-bg: hsl(0, 0%, 100%);
  --border-radius: 15px;
  --wrapper-border-raius: 18px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 400px) {
  body {
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    background: var(--body--bg);
    font-family: "Outfit", sans-serif;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 0.5fr;
    background: var(--wrapper-bg);
    min-height: 40vh;
    width: 80%;
    border-radius: var(--wrapper-border-raius);
    margin: 35px;
    margin-top: 100px;
  }
  .qr-code {
    grid-column: span 12;

    padding: 20px;
  }
  .qr-code img {
    width: 250px;
    border-radius: 7px;
  }
  .header {
    grid-column: span 12;
  }
  .header h2 {
    font-size: 20px;
    padding-left: 35px;
    margin-top: -2px;
  }
  .header p {
    color: #aeafba;
    letter-spacing: 0.2px;
    line-height: 20px;
    padding-left: 30px;
    font-size: 15px;
  }
  .header p span {
    padding-left: 71px;
  }
  body a {
    text-decoration: none;
  }
  .programmerInfo {
    margin-left: 55px;
    font-size: 10px;
  }
}
@media screen and (min-device-width: 1440px) and (-webkit-min-device-pixel-ratio: 1) {
  * {
    box-sizing: border-box;
  }
  body {
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    background: var(--body--bg);
    font-family: "Outfit", sans-serif;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 0.5fr;
    background: var(--wrapper-bg);
    min-height: 40vh;
    width: 22%;
    border-radius: var(--wrapper-border-raius);
    margin: 100px 0px 0px 570px;
  }
  .qr-code {
    grid-column: span 12;

    padding: 20px;
  }
  .qr-code img {
    width: 275px;
    border-radius: 7px;
  }
  .header {
    grid-column: span 12;
  }
  .header h2 {
    font-size: 20px;
    padding-left: 37px;
    margin-top: -2px;
  }
  .header p {
    color: #aeafba;
    letter-spacing: 0.2px;
    line-height: 20px;
    padding-left: 35px;
    font-size: 15px;
  }
  .header p span {
    padding-left: 71px;
  }
  body a {
    text-decoration: none;
  }
  .programmerInfo {
    margin-left: 600px;
    font-size: 10px;
  }
}
